NodeRedDashboard/flows_Backup.json
[
    {
        "id": "285cadc75aa58e3a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67cb5bb03975ea76",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "blue",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "KH Controller",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "none",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bb76ac384114aa07",
        "type": "ui_tab",
        "name": "Data",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "96414bbeb596abcd",
        "type": "mqtt-broker",
        "name": "mqtt_broker",
        "broker": "homeserver.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cb1874e5b875ebcf",
        "type": "ui_group",
        "name": "Data",
        "tab": "bb76ac384114aa07",
        "order": 3,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7f7ff66.2de07",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "mi-settings",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d7e41c31e6f22544",
        "type": "ui_group",
        "name": "KH controller",
        "tab": "e7f7ff66.2de07",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f15905d735c572a0",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "bb76ac384114aa07",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "125e36af02a4479a",
        "type": "ui_spacer",
        "z": "285cadc75aa58e3a",
        "name": "spacer",
        "group": "d7e41c31e6f22544",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "3c1c396d874c9219",
        "type": "mqtt in",
        "z": "285cadc75aa58e3a",
        "name": "AquaTemp/telemetry",
        "topic": "AquaTemp/telemetry",
        "qos": "2",
        "datatype": "utf8",
        "broker": "96414bbeb596abcd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1460,
        "wires": [
            [
                "6b248e3cdbf10c29"
            ]
        ]
    },
    {
        "id": "67e067b5d35666a8",
        "type": "ui_chart",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "f15905d735c572a0",
        "order": 7,
        "width": 6,
        "height": 3,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "23",
        "ymax": "26",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff3b30",
            "#aec7e8",
            "#ff9300",
            "#2ca02c",
            "#98df8a",
            "#ff2600",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "6345b13550e88139",
        "type": "ui_gauge",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "f15905d735c572a0",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}",
        "min": "22",
        "max": "28",
        "colors": [
            "#007aff",
            "#28cd41",
            "#ff3b30"
        ],
        "seg1": "24",
        "seg2": "26",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 1480,
        "wires": []
    },
    {
        "id": "9c6d287546301122",
        "type": "cronplus",
        "z": "285cadc75aa58e3a",
        "name": "KHschedule",
        "outputField": "payload",
        "timeZone": "Europe/Zurich",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "MeasureKH",
                "topic": "KHcontrollerV3/output",
                "payloadType": "str",
                "payload": "k",
                "expressionType": "cron",
                "expression": "0 02 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "schedule3",
                "topic": "KHcontrollerV3/output",
                "payloadType": "str",
                "payload": "k",
                "expressionType": "cron",
                "expression": "0 08 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "schedule5",
                "topic": "KHcontrollerV3/output",
                "payloadType": "str",
                "payload": "k",
                "expressionType": "cron",
                "expression": "0 14 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "schedule7",
                "topic": "KHcontrollerV3/output",
                "payloadType": "str",
                "payload": "k",
                "expressionType": "cron",
                "expression": "0 20 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 90,
        "y": 80,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "c41b90cc54b33ebe",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "Measure KH",
        "group": "f15905d735c572a0",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Measure KH",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "k",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "msg",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "1f20bb1e9d6e7e6e",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "Measure pH",
        "group": "d7e41c31e6f22544",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Measure pH",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "p",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "str",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "abd99654faa646b4",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "Measure sample",
        "group": "d7e41c31e6f22544",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Measure Sample",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "s",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "str",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "c0f20fd5bf4720de",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "Measure titration",
        "group": "d7e41c31e6f22544",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Measure Titration",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "t",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "8497e450f26de229",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "Fill Titration",
        "group": "d7e41c31e6f22544",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Fill Titration",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "f",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "str",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "d7bdfb11f4ec4c34",
        "type": "mqtt in",
        "z": "285cadc75aa58e3a",
        "name": "KHcontrollerV3/KH",
        "topic": "KHcontrollerV3/KH",
        "qos": "2",
        "datatype": "utf8",
        "broker": "96414bbeb596abcd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 840,
        "wires": [
            [
                "e6e32ff7c9d7212b"
            ]
        ]
    },
    {
        "id": "e4174b300a084c4e",
        "type": "ui_chart",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "f15905d735c572a0",
        "order": 5,
        "width": 6,
        "height": 3,
        "label": "KH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "6.5",
        "ymax": "9",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#28cd41",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 820,
        "wires": [
            [
                "ab6f374a5f780b16"
            ]
        ]
    },
    {
        "id": "dcb1447c3bdc5587",
        "type": "ui_gauge",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "f15905d735c572a0",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "KH",
        "label": "dKH",
        "format": "{{value | number:2}}",
        "min": "6.5",
        "max": "9",
        "colors": [
            "#ff3b30",
            "#00b500",
            "#ff2600"
        ],
        "seg1": "7",
        "seg2": "8",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 860,
        "wires": []
    },
    {
        "id": "f47822bdd6697465",
        "type": "mqtt in",
        "z": "285cadc75aa58e3a",
        "name": "KHcontrollerV3/startPH",
        "topic": "KHcontrollerV3/startPH",
        "qos": "2",
        "datatype": "utf8",
        "broker": "96414bbeb596abcd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "ceeb7efb237e6adf",
                "c2ba0f8d9d5f7736"
            ]
        ]
    },
    {
        "id": "ceeb7efb237e6adf",
        "type": "ui_chart",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "f15905d735c572a0",
        "order": 6,
        "width": 6,
        "height": 3,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#007aff",
            "#3a88fe",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "23049814f122fd01"
            ]
        ]
    },
    {
        "id": "c2ba0f8d9d5f7736",
        "type": "ui_gauge",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "f15905d735c572a0",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "pH",
        "label": "units",
        "format": "{{value}}",
        "min": "7.5",
        "max": "8.5",
        "colors": [
            "#ff3b30",
            "#fec700",
            "#00b500"
        ],
        "seg1": "7.8",
        "seg2": "8",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4b9817767657ffae",
        "type": "mqtt in",
        "z": "285cadc75aa58e3a",
        "name": "KHcontrollerV3/mes_pH",
        "topic": "KHcontrollerV3/mes_pH",
        "qos": "2",
        "datatype": "utf8",
        "broker": "96414bbeb596abcd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "7a0d5f40f783b6a7"
            ]
        ]
    },
    {
        "id": "7a0d5f40f783b6a7",
        "type": "ui_chart",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "d7e41c31e6f22544",
        "order": 13,
        "width": 6,
        "height": 5,
        "label": "pH curve",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7b219f",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "589cf95edd1b5d3d",
        "type": "mqtt in",
        "z": "285cadc75aa58e3a",
        "name": "KHcontrollerV3/pH",
        "topic": "KHcontrollerV3/pH",
        "qos": "2",
        "datatype": "utf8",
        "broker": "96414bbeb596abcd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "b603c989685682cc"
            ]
        ]
    },
    {
        "id": "b603c989685682cc",
        "type": "ui_text",
        "z": "285cadc75aa58e3a",
        "group": "d7e41c31e6f22544",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "pH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9a77c503da638c51",
        "type": "mqtt out",
        "z": "285cadc75aa58e3a",
        "name": "",
        "topic": "KHcontrollerV3/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "96414bbeb596abcd",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b248e3cdbf10c29",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 1",
        "func": "if (msg.payload > 0) {\n    return msg;\n} \n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1460,
        "wires": [
            [
                "6345b13550e88139",
                "67e067b5d35666a8"
            ]
        ]
    },
    {
        "id": "91547b7e6dfdc2d2",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 2",
        "func": "global.set('tV', msg.payload, \"file\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4b01ecd3c2b46b3f",
        "type": "ui_text_input",
        "z": "285cadc75aa58e3a",
        "name": "titration",
        "label": "titration Volume",
        "tooltip": "",
        "group": "d7e41c31e6f22544",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 80,
        "y": 500,
        "wires": [
            [
                "91547b7e6dfdc2d2"
            ]
        ]
    },
    {
        "id": "58ec3e7ed75111eb",
        "type": "ui_text_input",
        "z": "285cadc75aa58e3a",
        "name": "Sample",
        "label": "Sample Volume",
        "tooltip": "",
        "group": "d7e41c31e6f22544",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "33b5a717df9cd1aa"
            ]
        ]
    },
    {
        "id": "33b5a717df9cd1aa",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 4",
        "func": "global.set('sV', msg.payload, \"file\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f650c6b4f302394f",
        "type": "ui_text_input",
        "z": "285cadc75aa58e3a",
        "name": "Correction Factor",
        "label": "Correction Factor",
        "tooltip": "",
        "group": "d7e41c31e6f22544",
        "order": 16,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "0e87a79706c6f455"
            ]
        ]
    },
    {
        "id": "0e87a79706c6f455",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 5",
        "func": "global.set('cF', msg.payload, \"file\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e6e32ff7c9d7212b",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 6",
        "func": "var tV = global.get('tV', \"file\") || 13.4;\nvar sV = global.get('sV', \"file\") || 82;\nvar cF = global.get('cF', \"file\") || 1;\nvar cH = global.get('cH', \"file\") || 0.02;\nvar hV = global.get('hV', \"file\") || 5000;\nhV = hV - (msg.payload / 6000) * Number(tV)\nglobal.set('hV', hV, \"file\");\nmsg.payload = (msg.payload / 6000) * Number(tV) / Number(sV) * 2800 * cH * Number(cF)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nvar tV = global.get('tV') || 0;\nvar sV = global.get('sV') || 0;\nvar cF = global.get('cF') || 1;\nmsg = (2700 / 2500) * tV / sV * 280 / 2 * cF\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 840,
        "wires": [
            [
                "dcb1447c3bdc5587",
                "e4174b300a084c4e"
            ]
        ]
    },
    {
        "id": "917e25e223217fce",
        "type": "ui_text",
        "z": "285cadc75aa58e3a",
        "group": "d7e41c31e6f22544",
        "order": 12,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Titration Volume",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "a662822d4ca6cbd5",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 7",
        "func": "var tV = global.get('tV', \"file\") || 14;\nmsg.payload = tV\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 540,
        "wires": [
            [
                "917e25e223217fce"
            ]
        ]
    },
    {
        "id": "338d21513ac9b3e3",
        "type": "inject",
        "z": "285cadc75aa58e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "tV",
        "payloadType": "global",
        "x": 80,
        "y": 540,
        "wires": [
            [
                "a662822d4ca6cbd5"
            ]
        ]
    },
    {
        "id": "75fd8bdb826af1be",
        "type": "ui_text",
        "z": "285cadc75aa58e3a",
        "group": "d7e41c31e6f22544",
        "order": 15,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Sample Volume",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 620,
        "wires": []
    },
    {
        "id": "8db3827786ba4529",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 8",
        "func": "var sV = global.get('sV', \"file\") || 80;\nmsg.payload = sV\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 620,
        "wires": [
            [
                "75fd8bdb826af1be"
            ]
        ]
    },
    {
        "id": "a519b1f52e59fe12",
        "type": "inject",
        "z": "285cadc75aa58e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sV",
        "payloadType": "global",
        "x": 80,
        "y": 620,
        "wires": [
            [
                "8db3827786ba4529"
            ]
        ]
    },
    {
        "id": "5940f8260518e1e5",
        "type": "ui_text",
        "z": "285cadc75aa58e3a",
        "group": "d7e41c31e6f22544",
        "order": 17,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Correction Factor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 700,
        "wires": []
    },
    {
        "id": "f133b2f1506aaeac",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 9",
        "func": "var cF = global.get('cF', \"file\") || 1;\nmsg.payload = cF\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 700,
        "wires": [
            [
                "5940f8260518e1e5"
            ]
        ]
    },
    {
        "id": "fb43e1c7c7228dae",
        "type": "inject",
        "z": "285cadc75aa58e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "cF",
        "payloadType": "global",
        "x": 80,
        "y": 700,
        "wires": [
            [
                "f133b2f1506aaeac"
            ]
        ]
    },
    {
        "id": "29fc406c0a3eb380",
        "type": "inject",
        "z": "285cadc75aa58e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 50,
        "y": 780,
        "wires": [
            [
                "3817cccd3c4c068b"
            ]
        ]
    },
    {
        "id": "3817cccd3c4c068b",
        "type": "file in",
        "z": "285cadc75aa58e3a",
        "name": "",
        "filename": "/home/dominik/KH.log",
        "filenameType": "str",
        "format": "utf8",
        "allProps": false,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "8de33cbca3f249a4"
            ]
        ]
    },
    {
        "id": "99b03b68efd76c4a",
        "type": "file",
        "z": "285cadc75aa58e3a",
        "name": "",
        "filename": "/home/dominik/KH.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 840,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ab6f374a5f780b16",
        "type": "json",
        "z": "285cadc75aa58e3a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "99b03b68efd76c4a"
            ]
        ]
    },
    {
        "id": "8de33cbca3f249a4",
        "type": "json",
        "z": "285cadc75aa58e3a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 780,
        "wires": [
            [
                "e4174b300a084c4e"
            ]
        ]
    },
    {
        "id": "e65dd3ab132b9387",
        "type": "file",
        "z": "285cadc75aa58e3a",
        "name": "",
        "filename": "/home/dominik/pH.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 840,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "23049814f122fd01",
        "type": "json",
        "z": "285cadc75aa58e3a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 1000,
        "wires": [
            [
                "e65dd3ab132b9387"
            ]
        ]
    },
    {
        "id": "f6584d605573a075",
        "type": "inject",
        "z": "285cadc75aa58e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 50,
        "y": 940,
        "wires": [
            [
                "8cda738d4326b233"
            ]
        ]
    },
    {
        "id": "8cda738d4326b233",
        "type": "file in",
        "z": "285cadc75aa58e3a",
        "name": "",
        "filename": "/home/dominik/pH.log",
        "filenameType": "str",
        "format": "utf8",
        "allProps": false,
        "x": 200,
        "y": 940,
        "wires": [
            [
                "10276e5e04964652"
            ]
        ]
    },
    {
        "id": "10276e5e04964652",
        "type": "json",
        "z": "285cadc75aa58e3a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "ceeb7efb237e6adf"
            ]
        ]
    },
    {
        "id": "b96346232b0def76",
        "type": "mqtt in",
        "z": "285cadc75aa58e3a",
        "name": "",
        "topic": "KHcontrollerV3/error",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "96414bbeb596abcd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1200,
        "wires": [
            [
                "c220a88c4971edd5"
            ]
        ]
    },
    {
        "id": "c220a88c4971edd5",
        "type": "ui_text",
        "z": "285cadc75aa58e3a",
        "group": "d7e41c31e6f22544",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Errors",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 1200,
        "wires": []
    },
    {
        "id": "25501fe6a8c65c3d",
        "type": "mqtt in",
        "z": "285cadc75aa58e3a",
        "name": "",
        "topic": "KHcontrollerV3/message",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "96414bbeb596abcd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1260,
        "wires": [
            [
                "341cd39f0a59e235"
            ]
        ]
    },
    {
        "id": "341cd39f0a59e235",
        "type": "ui_text",
        "z": "285cadc75aa58e3a",
        "group": "d7e41c31e6f22544",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Messages",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d3cfc4526e3373dd",
        "type": "ui_text_input",
        "z": "285cadc75aa58e3a",
        "name": "HCl molarity",
        "label": "HCl conc",
        "tooltip": "",
        "group": "d7e41c31e6f22544",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 670,
        "y": 660,
        "wires": [
            [
                "ebd13858bb4447a7"
            ]
        ]
    },
    {
        "id": "ebd13858bb4447a7",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 10",
        "func": "global.set('cH', msg.payload, \"file\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "fcb4641fe73bd2f0",
        "type": "ui_text",
        "z": "285cadc75aa58e3a",
        "group": "d7e41c31e6f22544",
        "order": 19,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "HCl molarity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "5128093734d0b659",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 11",
        "func": "var cH = global.get('cH', \"file\") || 0.02;\nmsg.payload = cH\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 700,
        "wires": [
            [
                "fcb4641fe73bd2f0"
            ]
        ]
    },
    {
        "id": "5a30121e90d92b41",
        "type": "inject",
        "z": "285cadc75aa58e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "cH",
        "payloadType": "global",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "5128093734d0b659"
            ]
        ]
    },
    {
        "id": "6a13397052332579",
        "type": "ui_text_input",
        "z": "285cadc75aa58e3a",
        "name": "HCl Volume",
        "label": "HCl Volume",
        "tooltip": "",
        "group": "d7e41c31e6f22544",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "408e7913761fec90"
            ]
        ]
    },
    {
        "id": "408e7913761fec90",
        "type": "function",
        "z": "285cadc75aa58e3a",
        "name": "function 12",
        "func": "global.set('hV', msg.payload, \"file\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c026457cdb557ef3",
        "type": "inject",
        "z": "285cadc75aa58e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hV",
        "payloadType": "global",
        "x": 70,
        "y": 900,
        "wires": [
            [
                "6968fdbb7da81f40"
            ]
        ]
    },
    {
        "id": "6968fdbb7da81f40",
        "type": "ui_gauge",
        "z": "285cadc75aa58e3a",
        "name": "",
        "group": "f15905d735c572a0",
        "order": 4,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "HCl",
        "label": "ml",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 250,
        "y": 900,
        "wires": []
    },
    {
        "id": "8a3a862afe1e793e",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "Measure V",
        "group": "d7e41c31e6f22544",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Measure V",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "v",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "str",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "31d80457787addd7",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "calibrate pH 7",
        "group": "d7e41c31e6f22544",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "calibrate pH 7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "str",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    },
    {
        "id": "edb2569e41b2f9fa",
        "type": "ui_button",
        "z": "285cadc75aa58e3a",
        "name": "calibrate pH 4",
        "group": "d7e41c31e6f22544",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "calibrate pH 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "KHcontrollerV3/output",
        "topicType": "str",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "9a77c503da638c51"
            ]
        ]
    }
]